127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
#Local Kubernetes entries
{{ vip }}  {{ vip_hostname}}
{{ master1_ip }}   {{ master1_hostname }}
{{ master2_ip }}   {{ master2_hostname }}
{{ master3_ip }}   {{ master3_hostname }}
{{ node1_ip }}   {{ node1_name }}
{{ node2_ip }}   {{ node2_name }}
{{ node3_ip }}   {{ node3_name }}
{{ node4_ip }}   {{ node4_name }}
{{ node5_ip }}   {{ node5_name }}
{{ node6_ip }}   {{ node6_name }}
